<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @favorite.food %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @favorite.reason %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
